<header>
  <nav>
    <a href="/">Home</a> |
    <a href="/about">About</a> |
    <a href="/search">Search Movies</a> |
    <a href="/movies">Movie Reviews</a> |
    <a href="/review">Add Review</a> |
    <a href="/register">Register</a>
    <a href="users//register">Registry</a> |
    <% if (session && session.userId) { %>
      <a href="/users/logout">Logout</a>
    <% } else { %>
      <a href="/users/login">Login</a>
    <% } %>
  </nav>
  <hr>
  <% if (session && session.userId) { %>
    <p>Welcome, <%= session.userId %></p>
  <% } %>
</header>
