<header>
  <nav>
    <a href="/">Home</a> |
    <a href="/about">About</a> |
    <a href="/search">Search Movies</a> |
    <a href="/movies">Movie Reviews</a> |
    <a href="/review">Add Review</a> |
    <a href="/register">Register</a> |
    <a href="/login">Login</a>
  </nav>
  <hr>
  <% if (session.userId) { %>
  <p>Welcome, <%= session.userId %> | <a href="/users/logout">Logout</a></p>
  <% } else { %>
  <a href="/users/login">Login</a>
  <% } %>

</header>