<!doctype html>
<html>
  <head>
    <title>About <%=appData.appName%></title>
    <link rel="stylesheet"  type="text/css" href="/main.css" />
  </head>
  <body>
    <h1>About <%=appData.appName%></h1>
    <p>We sell all sorts of books and nothing else!</p>
  </body>
</html>